<h1> Welcome to Assignment Index</h1>

<ul>
   
    <% @assignments.each do |assignment| %>
        <li>Name: <%= link_to assignment.assignment_name, assignment_path(assignment), class: 'btn btn-success'%> </li>

        <% if submission = assignment.submissions.by_user(current_user).first%>
       
         <%= link_to "Submitted Assignemnt", assignment_submission_path(assignment, submission) %> 
        <% end %>
    <% end %>
</ul>
<% if @teacher %>
    Create a new assignment for this Course
    <%= link_to "Add Assignment", new_course_assignment_path(@course)%> 

<% end %>
