<center><h1> Welcome to Assignment Index</h1>

<% if @teacher %>
    <%= current_user.username %> <br> Welcome Back!! <br> Would you like to Create a new assignment for this Course?<br>
    <%= link_to "Add Assignment", new_course_assignment_path(@course)%> 

<% end %>
</center>
<ul>
   
    <% @assignments.each do |assignment| %>
        <li>Name: <%= link_to assignment.assignment_name, assignment_path(assignment), class: 'btn btn-success'%> </li>

        <% if submission = assignment.submissions.by_user(current_user).first%>
            <%= link_to "Submitted Assignemnt", assignment_submission_path(assignment, submission) %> 
        <% end %>
    <% end %>
</ul>
<br>
<br>
<br>

