

<h1><center>Create an Assignment </center></h1>
<h3><center>Only a signed in user will be able to create an assignment</center></h3>

<%= render 'form', assignment: Assignment.new %>
<br><br><br><br>


