<H1><center>Welcome <%= current_user.username %> would you like to enroll in <%= @course.course_name %></center></H1>

<center><%= render partial: "form", locals: {enrollment: @enrollment, course: @course} %></center>