<h1> Courses Index</h1>
<ul>
<div>
<% @courses.each do |course|%>
  
   

    <li> <%= link_to course.course_name, course_assignments_path(course)%>
     <p><%= link_to "Enroll", new_course_enrollment_path(course) %></p>
    
<% end %>
</div>
</ul>