<h1> <center>Courses Index</center></h1>
<ul>
    <div>
        <% @courses.each do |course|%>
        
            <li> <%= link_to course.course_name, course_assignments_path(course)%><br>
            <%= link_to "Enroll", new_course_enrollment_path(course) %></li><br>
            
        <% end %>
    </div>
    <br>
            <br>
            <br>
</ul>