<div>
    <h1> <center>Create a Course </center></h1><br>
    <h3><center>Complete the fields below to create a course</center> </h3>
</div><br>
<center><%= render 'form', course: Course.new %></center>