
<h1>Tutoring Courses Home</h1>

<h3>Welcome to Tutoring courses where you are able to create your own assignments<br>
 and courses to share with other Tutoring Course users.</h3>
 
   <h5>Please select one of the options below to get started</h5>

   <p> The create assignment for Course 
   <li>leads to the Assignment Form</li> </p><br>
   <% if user_signed_in? %>
<%= form_tag assignments_path, :method => 'get' do %> 
   <h4><%= link_to "Create Assignment", new_assignment_path %></h4>
    <%= submit_tag "Create Assignment" %> </h4>
   <% end %>
   <% end %>

<p>Search an Existing assignment
   <li>leads to the index of assignments </li>
   <li>so the user can me able to choose 
   an existing assignment to complete </li></p><br>
   

<p>Search existing courses 
   <li>leads to the index of courses </li>
   <li>where the user is able ot search 
   the existing courses </li>
   <li>and find the assignments that are associated with the course. </li></p>

