
<div>
<center>
<h1><p class="text-center">Tutoring Courses Home</p></h1></center>
</div>
<center><h2>Welcome <%=current_user.username%>!!</h2></center><br>
<center><h3> Tutoring Courses is where you are able to create your own assignments<br>
 and courses to share with other Tutoring Course users.</h3></center>
 
  <center> <h4>Please select one of the options below to get started</h4></center>
  
   <center><p><%= link_to "Create Course", new_course_path %></p></center>
        
       
  <center> <p><%= link_to "Search Courses", courses_path %></p></center>
         
       
  

