
<h1>Tutoring Courses Home</h1>

<h3>Welcome to Tutoring courses where you are able to create your own assignments<br>
 and courses to share with other Tutoring Course users.</h3>
 
   <h4>Please select one of the options below to get started</h4>
  
   <p><%= link_to "Create Course", new_course_path %></p>
        
       
   <p><%= link_to "Search Courses", courses_path %></p>
         
       
  

